* {
  margin: 0;
}
@import "fontstyle.scss";

.container {
  max-width: 1920px;
}

.header {
  width: 100%;
  height: 1024px;
  background-image: url(../img/bg_photo_11949.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.wraper-nav {
  display: flex;
  justify-content: center;
}

.logo {
  display: block;
  margin: 0 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  text-decoration: none;
  margin: 0 130px 0 0;
  padding: 40px 0 0 0;
  box-sizing: border-box;

  &-icon {
    width: 64px;
    height: 56px;
  }
  &-txt {
    font-family: Raleway;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: #ffffff;
  }
}
.menu {
  padding: 61px 0 0 0;
  box-sizing: border-box;
  &-item {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
    text-decoration: none;
    margin: 0 0 0 30px;
    box-sizing: border-box;
    &:hover {
      color: #c7b299;
    }
  }
}
.basket {
  padding: 55px 0 0 0;
  margin: 0 28px 0 63px;
  box-sizing: border-box;
}
.search {
  padding: 55px 0 0 0;
  display: flex;
}
.search-icon {
}

.search-form {
  background: none;
  border: none;
  outline: none;
  &:focus {
    width: 300px;
    background-color: #ffffff;
  }
}
.header-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 309px 0 0 0;
  &-next {
    background: none;
    border: none;
    height: 73px;
    opacity: 0.5;
  }
  .next-img {
    fill: #ffffff;

    &:hover {
      fill: #c7b299;
    }
  }

  &-item {
    width: 595px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 410px 0 410px;

    &-title2 {
      font-family: Raleway;
      font-size: 36px;
      line-height: 1.2;
      font-weight: 500;
      color: #ffffff;
    }
    &-title1 {
      font-family: Raleway;
      font-size: 52px;
      line-height: 1.2;
      font-weight: 800;
      color: #ffffff;
      margin: 14px 0 19px 0;
    }

    &-txt {
      font-family: Montserrat;
      font-size: 16px;
      line-height: 24px;
      font-weight: 300;
      color: #ffffff;
      width: 580px;
    }
    &-btn {
      display: block;
      margin: 52px 0 0 0;
      width: 170px;
      height: 53px;
      background-color: #998675;
      box-shadow: inset 0px -3px 0px 0px #736357;
      border-radius: 3px;
      text-decoration: none;
      &-txt {
        font-family: raleway;
        font-size: 14px;
        line-height: 23px;
        font-weight: 800;
        text-transform: uppercase;
        color: #ffffff;
        display: block;
        text-align: center;
      }
    }
  }
  &-Pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 290px 0 0 0;
    &-item {
      align-items: flex-end;
      margin: 0 5px 0 5px;
      display: block;
      width: 11px;
      height: 11px;
      opacity: 0.5;
      border: 1px solid;
      border-radius: 50%;
      background-color: #fff;
      &:hover {
        width: 12px;
        height: 12px;
        background-color: rgba(255, 255, 255, 0);
        border: 2px solid #d3c1ad;
      }
    }
  }
}
//section1
.section1 {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 80px 377px;
  box-sizing: border-box;

  .Web {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 270px;
    height: 180px;
    text-align: center;
    margin: 0 17px;

    .web-icon {
      fill: #555555;
    }
    &:hover .web-icon {
      fill: #c7b299;
    }

    .web-title {
      font-family: Raleway;
      font-size: 22px;
      line-height: 1.2;
      font-weight: 600;
      color: #555555;
      width: 100%;
      margin: 29px 0 19px 0;
    }
    &:hover .web-title {
      color: #c7b299;
    }
    .web-txt {
      width: 244px;
      font-family: Montserrat;
      font-size: 14px;
      line-height: 24px;
      font-weight: 300;
      color: #8c8c8c;
    }
    &::after {
      content: "";
      display: block;
      width: 70px;
      height: 3px;
      background-color: #f1eee9;
      margin: 33px 0 0 0;
    }
    &:hover:after {
      background-color: #c7b299;
    }
  }
}
//section screen
.screen {
  width: 100%;
  background-color: #fbfaf8;
  padding: 83px 0 0 0;
  box-sizing: border-box;
  &-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &-title {
    display: block;
    width: 100%;
    text-align: center;
    font-family: Raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
  }
  &-txt {
    text-align: center;
    width: 685px;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 24px 0 40px 0;
  }
  &-wraper {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
  }
  &-img {
  }
  .first {
    position: absolute;
    left: 335px;
    bottom: 0px;
    &:hover {
      z-index: 2;
    }
  }
  .second {
    position: relative;
    z-index: 1;
  }
  .third {
    position: absolute;
    right: 335px;
    bottom: 0px;
    &:hover {
      z-index: 2;
    }
  }
}

//Purchase
.Purchase {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #241c1a;
  padding: 48px 377px;

  &-title {
    font-family: Raleway;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    &-wxm {
      color: #c7b299;
    }
  }
  &-txt {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    color: #615855;
    margin: 8px 0 0 0;
  }
  &-btn {
    width: 170px;
    height: 50px;
    background-color: #998675;
    box-shadow: inset 0px -3px 0px 0px #736357;
    border-radius: 3px;
    font-family: Raleway;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
  }
}

//Projects
.Projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 80px 345px;
  box-sizing: border-box;
  &-title {
    width: 100%;
    font-family: Raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    text-align: center;
  }
  &-txt {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    width: 760px;
    text-align: center;
    margin: 24px 0 40px 0;
  }
  .item-wraper {
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;

    .projects-item {
      margin: 0px 5px;
      text-decoration: none;
      padding: 10px 20px;
      box-sizing: border-box;
      text-align: center;
      height: 32px;
      background-color: rgba(17, 17, 17, 0);
      border: 1px solid #ebebeb;
      border-radius: 3px;
      font-family: Montserrat;
      font-size: 14px;
      line-height: 21px;
      font-weight: 300;
      color: #8c8c8c;
      &:hover {
        background-color: #998675;
        color: #ffffff;
      }
    }
  }
  .projects-img-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 40px 0 48px 0;

    .projects-img {
      margin: 0 15px 30px 15px;
      position: relative;
      .projects-picture {
        display: block;
      }
      &-txt {
        width: 370px;
        height: 100px;
        background-color: #fbfaf8;
        padding: 30px 0 27px 28px;
        box-sizing: border-box;
        position: relative;
        &::before {
          content: "";
          display: block;
          border: 20px solid transparent;
          border-bottom: 18px solid #fbfaf8;
          position: absolute;
          top: -32px;
          left: 10px;
        }

        &-title {
          font-family: Raleway;
          font-size: 20px;
          line-height: 1.2;
          font-weight: 500;
          color: #c7b299;
        }
        &-text {
          margin: 10px 0 0 0;
          font-family: Montserrat;
          font-size: 14px;
          line-height: 20px;
          font-weight: 300;
          color: #d1d1d1;
        }
      }
      .article-btn-link {
        background-image: url(../img/link_10955.png);
        left: 40%;
      }
      .article-btn-search {
        background-image: url(../img/lupa_10956.png);
        right: 40%;
      }
      .article-btn-link,
      .article-btn-search {
        display: block;
        width: 26px;
        height: 26px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        background-color: transparent; // УСТАНАВЛИВАЕТ ПРОЗРАЧНЫЙ ФОН.
        position: absolute;
        top: 30%;
        display: none; // СКРЫТЬ ЭЛЕМЕНТЫ.
      }
      &:hover .projects-picture {
        filter: brightness(25%); // РЕГУЛИРОВКА ЯРКОСТИ КАРТИНКИ(ЗАТЕМНЕНИЕ).
      }
      &:hover .article-btn-link {
        display: block;
      }
      &:hover .projects-img-txt {
        background-color: #362f2d;
      }
      &:hover .projects-img-txt::before {
        border-bottom: 20px solid #362f2d;
      }
      &:hover .article-btn-search {
        display: block;
      }
    }
  }
  .Projects-btn {
    font-family: Raleway;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    width: 170px;
    height: 50px;
    background-color: #998675;
    box-shadow: inset 0px -3px 0px 0px #736357;
    border-radius: 3px;
    border: none;
  }
}

// video
.video {
  position: relative;
  &-file {
    width: 100%;
    height: 705px;
  }
  .video-txt-wraper {
    width: 24%;
    position: absolute;
    top: 210px;
    left: 685px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    .video-play {
      fill: white;
      border: none;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      opacity: 0.2;
      background-color: #020202;
      &-icon {
        fill: white;
      }
      &:hover .video-play-icon {
        fill: red;
      }
      &:active .video-play-icon {
        fill: cyan;
      }
    }
    .video-title {
      width: 100%;
      display: block;
      font-family: Raleway;
      font-size: 30px;
      line-height: 1.2;
      font-weight: 500;
      color: #ffffff;
      margin: 44px 0 29px 0;
    }
    .video-txt {
      text-align: center;
      font-family: Montserrat;
      font-size: 16px;
      line-height: 28px;
      font-weight: 300;
      color: #ffffff;
    }
    .video-time {
      display: block;
      font-family: Montserrat;
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;
      color: #c7b299;
      margin: 40px 0;
    }
  }
}
